.app {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.hide {
  display: none;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5em;
  font-weight:700;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.33em;
  color: #747474;
  font-weight:400;
}

.left-side {
  width: 80%;
  min-width: 120px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.graph-info {
  width: 80%;
}

.container {
  margin-top: 15px;
  display: flex;
}

/* Graph Container */

.graph-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.graph-container {
  min-width: 350px;
  max-width: 2000px;
  flex-shrink: 1;
  width: 100%;
  height: 100%;
}

.default-text {
  margin: 18px;
  font-size: 1.25em;
  color: #747474;
  font-weight: 700;
}


.default-text a {
  text-decoration: underline;
  color: #747474;
}

.default-text a:visited {
  text-decoration: none;
  color: #747474;
}

.default-text a:hover {
  color: black;
}

.info-text {
  max-width: 960px;
  margin: 0;
  font-size: 1.25em;
  color: #747474;
  font-weight: 700;
}

.info-name {
  font-size: 2.5em;
  color: #E10000;
  font-weight: 400;
  padding-right: 5px;
}

.CountryList {
  list-style: none;
  min-width: 120px;
  max-width: 200px;
  width: 15%;
  overflow: scroll;
  font-size: 1.5em;
}

.CountryList-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.location-button {
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: .75em;
}

.location-button:hover {
  color: #747474;
}

.location-selected {
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: .75em;
  color: #E10000;
}

.info-text {
  margin-left: 20px;
}

.domain {
  fill: none;
  stroke: none;
}

 /* Journalist Container */

.right-side {
  min-width: 100px;
  width: 20%;
  margin-right: 20px;
  display: flex;
}

.names {
  padding-right: 15px;
  overflow: scroll;
}

.name-section {
}

.names-year {
  margin: 0;
  flex-shrink:0;
  flex-grow: 0;
  display: inline;
  font-size: 3.33em;
}

.name-button {
  display: flex;
  align-items: left;
  text-align: left;
  justify: left;
  color: #747474;
  padding: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5em;
}

.name-button:hover {
  color: #E10000;
}

/* Journalist Pane */
.journalist-container {
  overflow: scroll;
}

.journalistPane {
  min-width: 100px;
  right: none;
  text-align: justify;
}

.journalistPane p {
  margin: 5px;
}

.closePaneButton {
  margin-top: 15px;
  margin-bottom: 25px;
  /* margin-left: -7px; */
  border: none;
  outline: none;
  font-size: 1.5em;
  cursor: pointer;
}

.closePaneButton:hover {
  color: #E10000;
}

.journalist-name {
  font-size: 3em;
  text-align: left;
  font-weight:700;
}

.journalist-date {
  padding-top: 20px;
  font-size: 2em;
  text-align: left;
}

.journalist-location {
  font-size: 2em;
  text-align: left;
}

.journalist-organization {
  padding-top: 20px;
  font-size: 2em;
  text-align: left;
}

.description {
  padding-top: 20px;
  padding-right: 15px;
  text-justify: inter-word;
}

@media (max-width: 700px) {
  .app {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  .left-side {
    width: 100%;
    height: 70%;
  }

  .right-side {
    width: 100%;
    height: 30%;
  }

  .title {
    font-size: 3em;
  }
  .subtitle {
    font-size: 2em;
  }

  .container {
    flex-direction: column;
  }

  .CountryList {
    max-width: 100%;
    width: 100%;
  }

  .CountryList-links {
    display: flex;
    flex-direction: row;
  }

  .info-name {
    font-size: 2em;
  }

  .info-text {
    font-size: 1em;
  }

  .graph-info {
    width: 100%;
  }

  .names {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 100%;
  }
  .name-section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .journalist-name {
    font-size: 2em;
  }

  .journalist-date {
    font-size: 1em;
  }

  .journalist-location {
    font-size: 1em;
  }

  .journalist-organization {
    font-size: 1em;
  }
}
